extends layout

block menu
  include menu   
block content
  div(style="display:flex; flex-direction:column;")
    
          
  section
    main
      include rouge_form


     

  


          


  