extends layout

block menu
  include menu   
block content

        div(style="display:flex; flex-direction: column; align-items:center; padding:100px")
            p O projeto ROUGE 2 Interface foi desenvolvido para prover uma interface gráfica, de fácil uso do sistema ROUGE2.0.
            p Foi concebido com o Prof. Francisco Cláudio S. de Menezes 
                a(href="mailto: new.claudiomenezes@gmail.com") new.claudiomenezes@gmail.com
            p e utiliza o pacote 
              a(href="https://github.com/kavgan/ROUGE-2.0" target="_blank") https://github.com/kavgan/ROUGE-2.0.
            
               

